# Compiled Binary
PresenterApp
RecorderApp

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# Xcode / Swift
build/
.build/
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/

# Editors
.vscode/
*.swp
*~
