name: Build and Release

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag name for release (e.g. v1.0.0)'
        required: true
        default: 'v1.0.0'
      release_name:
        description: 'Release title'
        required: false
        default: 'New Release'
      draft:
        description: 'Mark as draft?'
        required: false
        type: boolean
        default: false

jobs:
  build-and-release:
    runs-on: macos-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Application
        run: swiftc main.swift AppDelegate.swift Utils.swift -o Presenter

      - name: Zip Application
        run: zip Presenter.zip Presenter

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.event.inputs.tag_name }}
          name: ${{ github.event.inputs.release_name }}
          draft: ${{ github.event.inputs.draft }}
          files: Presenter.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
